<ActionBar class="blue-core" androidElevation="0">
    <Label class="action-bar-title fa t-medium" text="&#xf1f9; 4AnakKost"></Label>
</ActionBar>
<GridLayout rows="200,*">
    <GridLayout row="0" borderRadius="0 0 0 100%" class="blue-core">
        <GridLayout width="100" height="100" rows="*" borderRadius="25" margin="15" class="labels">
            <StackLayout class="middle" row="0">
                <Label row="0" text="WAR" class="t-big span center middle bold text-o"></Label>
                <Label row="1" text="PAN" class="t-big span center middle bold text-o"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>
    <GridLayout row="1" rows="auto,*,auto" class="white-h">
        <StackLayout row="0">
            <TextField padding="15" margin="15" androidElevation="3" hint="&#xf007; Nama Lengkap" class="input fa">
            </TextField>
            <TextField padding="15" margin="15" androidElevation="3" hint="&#xf0e0; Email" class="input fa"></TextField>
            <TextField padding="15" margin="15" androidElevation="3" hint="&#xf095; No. Telepon" class="input fa">
            </TextField>
            <TextField padding="15" margin="15" androidElevation="3" hint="&#xf084; Password" class="input fa">
            </TextField>
        </StackLayout>
        <GridLayout row="1" rows="auto" class="middle">
            <Button row="0" padding="15" margin="15" borderRadius="25" text="Register" class="btn"></Button>
        </GridLayout>
        <GridLayout row="2" rows="auto" margin="0 0 15 0" class="middle">
            <Label row="0" class="center" [nsRouterLink]="['/login']">
                <FormattedString>
                    <Span text="Sudah memiliki akun ? "></Span>
                    <Span text="Login" class="text-o"></Span>
                </FormattedString>
            </Label>
        </GridLayout>
    </GridLayout>
</GridLayout>
